$colors: (
  plain: (
    bg: #ffffff,
    text: #1e1d25,
    text-secondary: #4e4c62,
    text-accent: #eb2a2f,
    text-link: #2805ff,
    action: #0a84ff,
    action-text: #fdfdfd,
    action-primary-hover: #0072e5,
    action-primary-active: #0066cc,
    action-secondary-hover: #3d3f4c1a,
    action-secondary-active: #3d3f4c33,
    input-bg: #eeeef1,
  ),
  tint: (
    bg: #fff6f6,
    text: #1e1d25,
    text-secondary: #713032,
    text-accent: #cc5d60,
    text-link: #2805ff,
    action: #bd5673,
    action-text: #fdfdfd,
    action-primary-hover: #643637,
    action-primary-active: #3f2021,
    action-secondary-hover: #8f2d2d1a,
    action-secondary-active: #8f2d2d33,
    input-bg: #f5cdce,
  ),
  general: (
    card-border: rgba(0, 0, 0, 0.1),
    card-shadow: '0 5px 40px #0000001a, inset 0 2px 0 -1px #ffffff80',
  ),
);

$colors-dark: (
  plain: (
    bg: #121212,
    text: #eeecfc,
    text-secondary: #9391aa,
    text-accent: #fa5e88,
    text-link: #8fd0ff,
    action: #c3bbf4,
    action-text: #000000,
    action-primary-hover: #7b73ae,
    action-primary-active: #564e86,
    action-secondary-hover: #c3bbf41a,
    action-secondary-active: #c3bbf433,
    input-bg: #1f1f26,
    card-border: rgba(255, 255, 255, 0.2),
  ),
  tint: (
    bg: #251316,
    text: #fddfe4,
    text-secondary: #db8a98,
    text-accent: #fa5e88,
    text-link: #8fd0ff,
    action: #f48faa,
    action-text: #321015,
    action-primary-hover: #c95876,
    action-primary-active: #89344a,
    action-secondary-hover: #f48faa30,
    action-secondary-active: #f48faa60,
    input-bg: #3c1b22,
    card-border: #f48faa33,
  ),
  general: (
    card-shadow: '0 5px 40px #00000070',
  ),
);
