remove-native()
    user-drag none
    -webkit-user-drag none
    -webkit-tap-highlight-color transparent
    -webkit-touch-callout none
    -webkit-user-select none
    outline none
    user-select none
