$light = {
    font-color: #000000
    font-color-contrast: #000000
    font-color-light: #9C9C9C
    scroll-bar: #9C9C9C
    background: #FFFFFF
    background-odd: #F3F3F3
    selected-color: #FFFFFF
    seperator-color: #E6E6E6
    light-background: transparent
    input-color: #595959
    brand-color: #E9564F

    image-cat-noresults: url('~@/assets/cat_noresults.svg')
    image-cat-search: url('~@/assets/cat_search.svg')

    // Common properties
    accent-color-light: #0A84FF
    accent-color: #0A84FF
}

$dark = {
    font-color: #9DA5B4
    font-color-contrast: #C6CEDD
    font-color-light: #8B94A6
    scroll-bar: #8B94A6
    background: #282C34
    background-odd: #21252B
    selected-color: #FFFFFF
    seperator-color: #21252B
    light-background: #616673
    input-color: #C6CEDD
    brand-color: #E9564F

    image-cat-noresults: url('~@/assets/cat_noresults_dark.svg')
    image-cat-search: url('~@/assets/cat_search_dark.svg')
}

varinject($obj)
    $ddash = \-+\-
    for val in $obj
        $key = $ddash+val
        {$key} $obj[val]

:root {
  varinject($light)
}

@media (prefers-color-scheme: dark) {
  :root {
    varinject($dark)
  }
}

:root[data-theme^="light"]
    varinject($light)

:root[data-theme^="dark"]
    varinject($dark)

themed(n, varname, args...)
    var = $light[varname]
    {n} args var;
    {n} args 'var(--%s, %s)' % (varname var);
